@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf)
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    flex: 1;
    margin: 0;
}

.main-left, .main-right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.main-left {
    width: 40vw;
    background: url("./images/background.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-right {
    width: 60vw;
}

.one, .two, .three {
    flex: 1;
}

.logo {
    background-color: rgba(5, 1, 1, 0.5);
    margin-top: 125px;
    flex-basis: 200px;
    font-family: norse, sans-serif;
    color: white;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    flex: 0 1 auto;
    height: 150px;
}

.one {
    background-color: rgb(237, 238, 232);
    font-weight: bold;
    font-size: 32px;
}

.p1 {
    margin: 90px 40px 0px 40px;
}

.p2 {
    margin-bottom: 60px;
    margin-left: 40px;
}

.two {
    background-color: rgb(255, 255, 255);
}

.two > h2 {
  margin-left: 40px;
}

.three {
    background-color: rgb(202, 209, 184);
}

.links {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

label, input {
  display: block;
}

.link-col-1, .link-col-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 10px;
}